/* Vavigateur defaults */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: auto;
}

/* style des images et pour les h2 et h4  dans les cartes*/
.pics {
	width: 100%;
	height: 300px;
	margin: 0 0 30px 0;
	border-radius: 12px 12px 0 0;
	box-shadow: 0 0 6px #000;
}

h2,
h4 {
	margin: 0 0 12px;
}
span {
	font-weight: 700;
}
